@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

// Colors

$background: linear-gradient(43deg, #102d71 0%, #000000 52%, #c12a23 100%);
$title: #fffcf9;
$subtitle: #b3b3b3;
$bg-button: #000000;

// Font-family

$font-main: 'Poppins', sans-serf;